*,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}

:root{
--cocoalight: #8f4522;
--nearlyorange: #cd7b4c;
--isthisevenbrown: burlywood;
--cocoa:#341C02 ;
--lightcaremel:#8D6942;


}

@property --top-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --top-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --bottom-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --bottom-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}