
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

*,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
/* Main color palette */
:root{
--cocoalight: #8f4522;
--nearlyorange: #cd7b4c;
--isthisevenbrown: burlywood;
--cocoa:#341C02 ;
--lightcaremel:#8D6942;
--secondary: white;
}
/*  */
.container-fluid{
 background-color: var(--secondary);
}
/* Navigation */
.navbar navbar-expand-lg bg-body-tertiary{
  background-color: #cd7b4c;
}
.navbar-brand{
 font-family:"Bungee Shade", sans-serif; 
 
}
.nav-item{
 color: var(--isthisevenbrown) !important;
}
:is(.nav-link, a) {
  color: var(--cocoa);
  font-family: "Bungee", sans-serif;
}
img[alt='profile']{
  width: 20rem;
  object-fit: cover;
  object-position: center;
  clip-path: circle(50% at 50% 50%);
  box-shadow: black;
}

div[details] {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#name{
  font-family:"Bungee Shade", sans-serif;
  color:black;
  font-size: 68px;
  text-shadow: 2px 2px 8px var(--secondary);
  
}
#description{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #8D6942;
}


/* About */
#b1{
  background-color: white;
}
#heading{
  font-family:"Bungee Shade", sans-serif;
  color: black;
  margin: 0 auto;
  text-align: center;
}
.text center{
  font-family: "Bungee Shade", sans-serif;
  size-adjust: 10px;
}

#about{
  font-family: "Bungee", sans-serif;
  color: var(--isthisevenbrown);
}
.imageAboutPage{
  height: 120vh;
  width: 120vh;
}
/* Education*/
#education{
  background: wheat;
}
#Edu{
  margin: 0 auto;
  text-align: center;
  font-family: "Bungee Shade", sans-serif;
}
.timeline{
 max-width: 1200px;
  position: relative;
  margin: 100px auto;
}
.holder{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown{
0%{
  opacity: 1;
 transform: translateY(-30px);
}
100%{
  opacity: 1;
  transform: translateY(0px);
}
}
.hodler:nth-child(1){
  animation-delay: 0s;
}
.hodler:nth-child(2){
  animation-delay: 1s;
}
.hodler:nth-child(3){
  animation-delay: 2s;
}
.hodler:nth-child(4){
  animation-delay: 3s;
}

.content{
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left{
  left: 0;
}
.right{
  left: 50%;
}
.holder img{
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;

}
.right img{
 left: -20px;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: black;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards ;
}
@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
.content h3{
  font-weight: 400;
}
.content small{
  display: inline-block;
  margin-bottom: 15px;
}
.left-a{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent ;
  border-left: 15px solid white;
  right: -15px;
}
.right-a{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent ;
  border-right: 15px solid white;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline{
    margin: 50px auto;
}
.timeline::after{
  left: 31px;
}
.holder{
  width: 100%;
  padding: 80px;
  
}

















/* Skill's */
#skills{
  background-color: white ;
  font-family: "Bungee Shade", sans-serif;
  color: black;
}
.h1S{
  font-family:"Bungee Shade", sans-serif;
  color: black;
  margin: 0 auto;
  text-align: center;
}
#p{
  font-family: "Bungee", sans-serif;
  color: bl;
}
/* Work Experiance */
.header{
font-family: "Bungee Shade" , sans-serif;
color: black;
text-align: center;
margin:  0 auto;
}
.jobtitle{
  font-family: "Bungee", sans-serif;
  color:whitesmoke;
  margin: 0 auto;
  text-align: center;
  
}
.jobdetails{
  font-family: "Bungee", sans-serif;
  color: white;
}
/* Projects */
#p1{
  font-family: "Bungee Shade", sans-serif;
  color: var(--cocoa);
  
}
.projectsText.card {
  height: 280px;
  cursor: pointer;
  font-family: "Bungee", sans-serif;
  color: gray;
}
.projectsIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
  color:#341C02
}
.card-title {
  text-align: center;
}
.card:hover .projectsIcon {
  color: var(--isthisevenbrown) ;
}
.projectsText:hover {
  border: 1px solid black;
}

/* Testimonials */
.testimonials{
  background-color: #8D6942;
  padding: 40px 0;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
#TH2{
font-family: "Bungee Shade", "sans-serif";
color: black;
}
.testimonial-row{
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;

}
.container img{

}
.name{
  font-size: 18px;
  margin-bottom: 10px;
}
.testimonial {
  font-size: 14px;
  color: var(--lightcaremel);
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 30px #8f4522;
  cursor: pointer;
}
.testimonial i{
  color: var(--nearlyorange) ;
  font-size: 2.5rem;
}
.testimonial p{
  font-size: 1rem;
  font-weight: 500;
}
.testimonial hr{
  width: 60px;
  margin: auto;
  color: lightpink
}
.testimonial img{
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
}
.testimonial .name{
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--cocoalight);
  transition: 0.3s;
}

.testimonial .name:hover{
color: var(--isthisevenbrown);
}
.testimonial p:hover{
  color: var(--isthisevenbrown);
}
/* @property --top-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --top-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --bottom-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --bottom-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
} */
/* Reach Me */
.reachme{
  background-color: white;
}
.form{
  text-align: left;
  color: wheat;

}
.container-fluid {
  color: wheat;
  font-family: "Bungee", sans-serif;
}
.send{
  background-color: wheat;
  color: var(--lightcaremel);
  border: #fff;
  text-align: left;
}
#message, #email{
  width: 150px;
  height: 25px;
  margin-top: 30px;
}
/* Footer */
.footer{
  text-align: center;
  font-family: "Bungee Shade";
  color: #cd7b4c;
@media (max-width: 600px) {
  .footer-about, .footer-services, .footer-contact, .footer-follow {
      width: 100%;
      margin-bottom: 20px;
  }
}

}